In [1]:
from sportsreference.nba.teams import Teams
from datetime import datetime
from sportsreference.nba.boxscore import Boxscores
import pandas as pd

In [2]:
teams = Teams(year='2021')
for team in teams:
    print(team.name)  # Prints the team's name
    print(team.points)  # Prints the team's total points
    print(team.opp_points) # prints opp points

Brooklyn Nets
1789
1706
Los Angeles Lakers
1729
1577
Milwaukee Bucks
1686
1548
Chicago Bulls
1644
1680
Denver Nuggets
1619
1564
Los Angeles Clippers
1608
1521
Portland Trail Blazers
1608
1622
Sacramento Kings
1600
1730
Philadelphia 76ers
1590
1545
San Antonio Spurs
1556
1537
Utah Jazz
1555
1472
New York Knicks
1509
1541
Charlotte Hornets
1507
1514
Indiana Pacers
1468
1427
Orlando Magic
1463
1550
Toronto Raptors
1454
1439
Golden State Warriors
1451
1497
Atlanta Hawks
1445
1420
Detroit Pistons
1416
1477
Dallas Mavericks
1397
1389
New Orleans Pelicans
1395
1423
Memphis Grizzlies
1386
1395
Oklahoma City Thunder
1373
1464
Boston Celtics
1329
1314
Washington Wizards
1325
1334
Miami Heat
1323
1366
Houston Rockets
1322
1352
Phoenix Suns
1319
1282
Cleveland Cavaliers
1293
1351
Minnesota Timberwolves
1292
1414

In [7]:
team_df = pd.DataFrame(data=teams)
team_df

                                                    0
0   <sportsreference.nba.teams.Team object at 0x00...
1   <sportsreference.nba.teams.Team object at 0x00...
2   <sportsreference.nba.teams.Team object at 0x00...
3   <sportsreference.nba.teams.Team object at 0x00...
4   <sportsreference.nba.teams.Team object at 0x00...
5   <sportsreference.nba.teams.Team object at 0x00...
6   <sportsreference.nba.teams.Team object at 0x00...
7   <sportsreference.nba.teams.Team object at 0x00...
8   <sportsreference.nba.teams.Team object at 0x00...
9   <sportsreference.nba.teams.Team object at 0x00...
10  <sportsreference.nba.teams.Team object at 0x00...
11  <sportsreference.nba.teams.Team object at 0x00...
12  <sportsreference.nba.teams.Team object at 0x00...
13  <sportsreference.nba.teams.Team object at 0x00...
14  <sportsreference.nba.teams.Team object at 0x00...
15  <sportsreference.nba.teams.Team object at 0x00...
16  <sportsreference.nba.teams.Team object at 0x00...
17  <sportsreference.nba.teams.Team object at 0x00...
18  <sportsreference.nba.teams.Team object at 0x00...
19  <sportsreference.nba.teams.Team object at 0x00...
20  <sportsreference.nba.teams.Team object at 0x00...
21  <sportsreference.nba.teams.Team object at 0x00...
22  <sportsreference.nba.teams.Team object at 0x00...
23  <sportsreference.nba.teams.Team object at 0x00...
24  <sportsreference.nba.teams.Team object at 0x00...
25  <sportsreference.nba.teams.Team object at 0x00...
26  <sportsreference.nba.teams.Team object at 0x00...
27  <sportsreference.nba.teams.Team object at 0x00...
28  <sportsreference.nba.teams.Team object at 0x00...
29  <sportsreference.nba.teams.Team object at 0x00...

In [8]:
for team in teams:
    print(team.abbreviation)

BRK
LAL
MIL
CHI
DEN
LAC
POR
SAC
PHI
SAS
UTA
NYK
CHO
IND
ORL
TOR
GSW
ATL
DET
DAL
NOP
MEM
OKC
BOS
WAS
MIA
HOU
PHO
CLE
MIN

In [9]:
from sportsreference.nhl.teams import Teams

teams = Teams(2018)

In [28]:
team.dataframe('New York Rangers')

TypeError: 'DataFrame' object is not callable

In [25]:
team_df = pd.DataFrame()
for team in teams:
    pd.concat(team_df)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [31]:
teams = Teams(year='2021')
detroit = Team('DET')

NameError: name 'Team' is not defined

In [13]:
team_df = pd.DataFrame(data=teams)

In [14]:
for team in teams:
    team_df.concat(team.name)

AttributeError: 'DataFrame' object has no attribute 'concat'

In [17]:
team = Teams('NYK')

HTTPError: HTTP Error 404: Not Found

In [18]:
team_list = []
year = '2021'
team_df = pd.DataFrame()

In [19]:
teams = Teams()
for team in teams:
    name = team.name
    team_list.append(name)

In [182]:
team_list

['Chicago Bulls',
 'Boston Celtics',
 'Milwaukee Bucks',
 'Los Angeles Clippers',
 'Washington Wizards',
 'Brooklyn Nets',
 'Atlanta Hawks',
 'Philadelphia 76ers',
 'Indiana Pacers',
 'Golden State Warriors',
 'Los Angeles Lakers',
 'Sacramento Kings',
 'Detroit Pistons',
 'Orlando Magic',
 'Phoenix Suns',
 'Utah Jazz',
 'New Orleans Pelicans',
 'Charlotte Hornets',
 'New York Knicks',
 'Cleveland Cavaliers',
 'Denver Nuggets',
 'Portland Trail Blazers',
 'San Antonio Spurs',
 'Dallas Mavericks',
 'Minnesota Timberwolves',
 'Toronto Raptors',
 'Memphis Grizzlies',
 'Miami Heat',
 'Oklahoma City Thunder',
 'Houston Rockets']

In [191]:
teams = Teams(year='2021')
for team in teams:
    team_df.append(team.name)  # Prints the team's name
    print(team.points)  # Prints the team's total points
    print(team.opp_points) # prints opp points

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [201]:
def get_team_df(team):   
    # get team df and add some extra info
    team_df = pd.DataFrame()
    team_df['points'] = team.points
    team_df['opp_points'] = team.opp_points
    team_df.set_index('name', drop = True, inplace = True)
    
    return team_df

In [202]:
teams_collected = []
team_df = pd.DataFrame()
for team in Teams(year=str(year)).dataframes.index:
    print('\n' + team + '\n')
    
    if team not in teams_collected:
        team_info = get_team_df(team)
        
    else:
            team_df=pd.concat(team_info,axis=0)
            
    teams_collected.append(team)

CHI

AttributeError: 'str' object has no attribute 'points'